

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.logo-container1 img {
  max-width: 100%;
  height: auto;
}


/*--------------------------------------------------------------
# Botón para subir
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #05bb33;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #055e02;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader (no cacho qué hace realmente)
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1abb05;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Trancisión (funciona a veces xd)
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
/**
* Escritorio 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background: #2eb724;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/**
* Móvil 
*/
.mobile-nav-toggle {
  position: fixed;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #f1ab14;
}

/*--------------------------------------------------------------
# Sección Bienvenida
--------------------------------------------------------------*/
#welcome {
  width: 100%;
  height: 100vh;
  background: url("../img/bgproducts1.jpg") top right no-repeat;
  background-size: cover;
  background-position: relative;
}

#welcome2 {
  width: 60%;
  height: 100vh;
  background: url("../img/bgproducts1.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #welcome {
    padding-left: 160px;
  }
}

#welcome:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#welcome h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#welcome p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#welcome p span {
  color: #1448f1;
  letter-spacing: 1px;
}

#welcome .social-links {
  margin-top: 30px;
}

#welcome .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#welcome .social-links a:hover {
  color: #f1ab14;
}

@media (max-width: 992px) {
  #welcome {
    text-align: center;
  }

  #welcome h1 {
    font-size: 32px;
    line-height: 36px;
  }

  #welcome p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Secciones General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #f1ab14;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Productos
--------------------------------------------------------------*/
.products .products-item {
  margin-bottom: 30px;
}

.products #products-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.products #products-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.products #products-flters li:hover,
.products #products-flters li.filter-active {
  color: #0563bb;
}

.products #products-flters li:last-child {
  margin-right: 0;
}
/* Estilos para las imágenes de los productos */
/*--------------------------------------------------------------*/
.products .products-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: white; /* Cambiar el fondo negro a blanco */
  display: flex; /* Usar flexbox para alinear y ajustar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
/* ... otros estilos de las imágenes ... */
.products .products-wrap img {
  max-width: 100%; /* Ajustar imagen al ancho del div */
  height: auto; /* Mantener la proporción de la imagen */
}
/*--------------------------------------------------------------*/
/* Fin de estilos para las imágenes de los productos */

.products .products-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.products .products-wrap .products-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .products-wrap .products-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.products .products-wrap .products-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.products .products-wrap .products-info h4 {
  font-size: 20px;
  color: #9ea3a8;
  font-weight: 600;
}

.products .products-wrap .products-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.products .products-wrap .products-links {
  text-align: center;
  z-index: 4;
}

.products .products-wrap .products-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.products .products-wrap .products-links a:hover {
  color: #148af9;
}

.products .products-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.products .products-wrap:hover .products-info {
  opacity: 1;
}

.products .products-wrap:hover .products-info::before {
  top: 15px;
  left: 15px;
}

.products .products-wrap:hover .products-info::after {
  bottom: 15px;
  right: 15px;
}
.products-details .products-details-slider img {
  width: 100%;
  height: auto;
  display: block;
  background-color: white;
  margin: 0 auto;
  max-width: 100%;
}
/*--------------------------------------------------------------
# Detalles de los Productos
--------------------------------------------------------------*/
.products-details {
  padding-top: 40px;
}

.products-details .products-details-slider img {
  width: 100%;
}

.products-details .products-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.products-details .products-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f1ab14;
}

.products-details .products-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f1ab14;
}

.products-details .products-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.products-details .products-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.products-details .products-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.products-details .products-info ul li+li {
  margin-top: 10px;
}

.products-details .products-description {
  padding-top: 30px;
}

.products-details .products-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-details .products-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Categorías
--------------------------------------------------------------*/
.categor .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.categor .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.categor .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.categor .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.categor .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.categor .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.categor .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.categor .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.categor .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.categor .iconbox-blue i {
  color: #47aeff;
}

.categor .iconbox-blue:hover .icon i {
  color: #fff;
}

.categor .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.categor .iconbox-orange i {
  color: #ffa76e;
}

.categor .iconbox-orange:hover .icon i {
  color: #fff;
}

.categor .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.categor .iconbox-pink i {
  color: #e80368;
}

.categor .iconbox-pink:hover .icon i {
  color: #fff;
}

.categor .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.categor .iconbox-yellow i {
  color: #ffbb2c;
}

.categor .iconbox-yellow:hover .icon i {
  color: #fff;
}

.categor .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.categor .iconbox-red i {
  color: #ff5828;
}

.categor .iconbox-red:hover .icon i {
  color: #fff;
}

.categor .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.categor .iconbox-teal i {
  color: #11dbcf;
}

.categor .iconbox-teal:hover .icon i {
  color: #fff;
}

.categor .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}
/* Estilos para centrar y ajustar las categorías */
.categor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.categor .container {
  width: 100%;
  max-width: 1000px; /* Aumenta el ancho máximo deseado para la sección */
}

.categor .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px; /* Espaciado lateral negativo para los elementos en la fila */
}

.categor .col-lg-4 {
  padding: 0 10px; /* Espaciado lateral para los elementos de la columna */
  flex: 0 0 40%; /* Aumenta el ancho de la columna al 40% (dos de cada cinco columnas en una fila) */
  margin-right: 20px; /* Añade margen derecho para mover un poco más a la derecha */
}

/* Aumenta el tamaño de las categorías */
.categor .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  width: 100%; /* Aumenta el ancho de la caja */
}

.categor .icon-box h4 {
  font-weight: 600;
  margin: 15px 0; /* Aumenta el margen superior e inferior */
  font-size: 24px; /* Aumenta el tamaño de la fuente del título */
}

.categor .icon-box .icon {
  margin: 0 auto;
  width: 120px; /* Aumenta el tamaño del icono o imagen */
  height: 120px; /* Aumenta el tamaño del icono o imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.categor .icon-box .icon i {
  font-size: 48px; /* Aumenta el tamaño del icono (opcional) */
  transition: 0.5s;
  position: relative;
}

.categor .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.categor .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}


/*--------------------------------------------------------------
# Ofertas
--------------------------------------------------------------*/
.sales .section-header {
  margin-bottom: 40px;
}

.sales .sales-carousel,
.sales .sales-slider {
  overflow: hidden;
}

.sales .testimonial-item {
  text-align: center;
}

.sales .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.sales .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.sales .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.sales .testimonial-item .quote-icon-left,
.sales .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.sales .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.sales .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.sales .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.sales .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.sales .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f1ab14;
}

.sales .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f1ab14;
}

@media (min-width: 992px) {
  .sales .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #059c05;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0a9605;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #8dc903;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email] {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #05bb0e;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #23c004;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/*--------------------------------------------------------------
# Modal (Resultados)
--------------------------------------------------------------*/

.modal-content {
  position: relative;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #c7c3c3; /* Ajusta el color de fondo según tu diseño */
  z-index: 1;
}

.modal-header .btn-close {
  position: absolute;
  right: 15px; /* Alinea el botón en el lado derecho */
}

.modal-body {
  padding-top: 50px; /* Añade espacio en la parte superior para evitar que el contenido se solape con el encabezado */
}

/* Estilos del pop-up */
.popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.green-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilos para el modal de búsqueda */
#resultsModal {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  background-color: #4CAF50; /* Color de fondo para el encabezado */
  color: #fff; /* Color del texto en el encabezado */
  border-radius: 10px 10px 0 0; /* Esquinas redondeadas en la parte superior */
}

.modal-title {
  font-size: 24px; /* Tamaño del título */
}

.modal-body {
  padding: 20px; /* Espaciado interior en el cuerpo del modal */
}

.btn-close {
  color: #fff; /* Color del botón de cierre (X) */
}

/* Estilos para el contenido de resultados de búsqueda (ajústalos según tus necesidades) */
#modalContent {
  font-size: 16px;
  color: #333;
}

/* Estilos para los botones dentro del modal (ajústalos según tus necesidades) */
.btn-modal {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-modal:hover {
  background-color: #45a049;
}


